.container{
    width: 340px;
    box-shadow: 10px 10px #e9e7e7;
    border: 1px solid #adadad;
    
}
img{
    width: 300px;
    height: 200px;
    margin-left: 20px;
}
h3{
    padding-left: 20px;
    font-size: 30px;
}
.text-container{
    margin: 15px 15px 20px 20px;
    border: 1px solid #adadad;
    padding: 10px;

}
.italics{
    font-style: italic;
}
ul{
    list-style: none;
    padding: 0;
}
.label{
    font-weight: bold;
}