.container{
    width: 350px;
    box-shadow: 10px 10px #e9e7e7;
    border: 1px solid #adadad;
    
}
img{
    width: 300px;
    height: 200px;
    margin-left: 25px;
}
h3{
    padding-left: 25px;
}
.text-container{
    margin: 25px;
    border: 1px solid #adadad;
    padding: 15px;
    
}